# virtual envs
venv/
.venv/

# python caches
__pycache__/
*.py[cod]

# git
.git/

# IDE/editor
.vscode/

# raw data & models (huge dirs!)
datasets/
models/
traffic-anomaly-dataset/

# other heavy folders
source/
plots/
docs/
evaluation/

# video files
*.mp4

# local env files
.env*