PATH_MODEL=     #  path to stored model or path where model should be stored after training
PATH_SAE_DATA=  # path to sae dump with tracks and frames
START_TIME=     # start time for collecting dataset (time of first detection), format: DD.MM.YYYY-hour:min, e.g. "16.06.2024-15:00" 
END_TIME=       # end time for collecting dataset, format: DD.MM.YYYY-hour:min (default: 72 hours between start and end)
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_SSL=
DATABASE_TABLE=
DATABASE_CAMERA_ID=